/* =======================
    Responsive: 1328px
======================= */

@media screen and (max-width: 83em) {
  body {
    font-size: 1.5rem;
  }

  .contact-group-radio {
    gap: 1.5rem;
  }
}

/* =======================
    Responsive: 1200px
======================= */

@media screen and (max-width: 75em) {
  .contact-group-radio {
    gap: 0.8rem;
  }

  .contact-group-radio label {
    font-size: 1.35rem;
  }
}

/* =======================
    Responsive: 1088px
======================= */

@media screen and (max-width: 68em) {
  /* .plan-container {
    flex-direction: column;
    height: auto;
  }

  .plan-group {
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
  } */

  .access-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-group-radio {
    flex-direction: column;
  }

  .contact-group-radio label {
    font-size: 1.25rem;
  }

  /* .review-group {
    flex-direction: column;
  }

  .review-icon-group {
    margin-right: 0;
  }

  .review-icon-group img {
    width: 8rem;
    margin-bottom: 1rem;
  } */
}

/* =======================
    Responsive: 1024px
======================= */

@media screen and (max-width: 64em) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }

  .header-nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    padding-top: 10rem;
    padding-left: 5rem;
    gap: 1.5rem;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .header-nav-menu.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }

  #overlay.active {
    display: block;
  }

  .header-nav-menu li a {
    letter-spacing: 0.1em;
  }

  .header-nav-menu li a::first-letter {
    font-size: 1.7rem;
    color: #34acb4;
  }

  .about-text-group h3 {
    font-size: 2rem;
  }

  .plan-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    height: auto;
    gap: 3rem;
  }

  .plan-group ul {
    padding-left: 3.5rem;
  }
}

/* =======================
    Responsive: 768px
======================= */

@media screen and (max-width: 48em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }

  .main-img {
    height: 50vh;
  }

  .about-group img {
    height: 50vh;
  }

  .about-group {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-text-group {
    margin: 5rem 0;
  }

  .plan-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 70%;
    gap: 3.5rem;
  }

  details {
    width: 75%;
  }

  .review-group {
    flex-direction: column;
    padding: 2.5rem 1.5rem;
  }

  .review-icon-group {
    margin-right: 0;
  }

  .access-container {
    margin: 0;
  }

  .access-group {
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }

  .access-group-text {
    margin: 3.5rem 0;
  }

  .access-group img {
    width: 100%;
    height: auto;
  }

  .contact-container {
    max-width: 80%;
  }
}

/* =======================
    Responsive: 432px
======================= */

@media screen and (max-width: 27em) {
  html {
    font-size: 43.75%; /* 1rem = 7px */
  }

  /* .main-img {
    max-width: auto;
    height: 20vh;
  } */

  .reservation-btn {
    right: 5%;
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }
}

/* =======================
    Responsive: 432px
======================= */

@media screen and (max-width: 20em) {
  .main-img {
    display: none;
  }

  .main-img-phone {
    display: block;
    max-width: 100vw;
    height: auto;
  }
}
