/* =========================================

--Fontsize
default: 16px(1.6rem)

-- Space
section space: 3rem

-- Lineheight
default: 1.3



========================================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* width: 100vw; */
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  border-bottom: 1rem solid #34acb4;
}

/* -------------
    Header
------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.logo-img {
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
}

.header-nav-menu {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.header-nav-menu-list {
  font-weight: 700;
  padding: 1rem;
}

.header-nav-menu-list:last-child {
  padding-right: 10rem;
}

.header-nav-menu-list a {
  text-decoration: none;
}

.header-nav-menu-link {
  display: inline-block;
  color: #000;
  transition: color 0.3s ease, transform 0.3s ease;
}

.header-nav-menu-link:hover,
.header-nav-menu-link:focus {
  color: #34acb4;
  transform: scale(1.1);
}

.main-visual {
  position: relative;
}

.main-visual::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.388), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 1;
}

.main-img {
  position: relative;
  width: 100%;
  height: 85vh;
  object-fit: cover;
  display: block;
}

.reservation-btn {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  bottom: 10%;
  right: 8%;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 50px;
  padding: 2rem 2rem;
  z-index: 2;
  transition: all 0.3s ease;
  border: 0.3rem solid #34acb4;
  background: #fff;
  color: #34acb4;
}

.reservation-btn:hover {
  border: 0.3rem solid #fff;
  background: #34acb4;
  color: #fff;
  transform: scale(1.07);
}

.btn-icon {
  color: #fff;
  background-color: #34acb4;
  padding: 1.5rem 1.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.reservation-btn:hover .btn-icon {
  color: #34acb4;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  border-radius: 50%;
  transform: scale(1.07);
}

.header-nav-menu {
  transition: all 0.3s ease;
}

ion-icon {
  cursor: pointer;
}

.menu-toggle {
  display: none;
  position: fixed;
  right: 5rem;
  background: none;
  border: none;
  font-size: 3rem;
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.105);
  backdrop-filter: blur(1.5px);
  z-index: 8;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 999;
}

/* -------------
    Main
------------- */

.section-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.section-title span {
  display: inline-block;
  border-bottom: solid 0.1rem #000;
}

.section-title span::first-letter {
  color: #34acb4;
}

/* -------------
    About
------------- */

.about-sec {
  padding: 3rem 0;
  margin-bottom: 3rem;
  background-color: #34abb466;
}

.about-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  align-items: center;
}

.about-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1;
}

.about-text-group h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.about-text-group p {
  line-height: 1.5;
}

.about-img {
  width: 100%;
}

.about-group img {
  display: block;
  width: 100%;
  height: 55rem; /* 9:16で画像編集 */
  object-fit: cover;
}

/* -------------
    News
------------- */

.news-sec {
  margin-bottom: 3rem;
}

.news-container {
  position: relative;
  display: flex;
  align-items: center;
}

.news-group {
  display: flex;
  overflow-x: auto;
  gap: 3rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-grow: 1;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
}

.news-group figure {
  flex: 0 0 30%;
  /* height: 30rem; */
  overflow: hidden;
  scroll-snap-align: start;
}
.news-group img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.news-group img:hover {
  /* transform: scale(1.1); */
  opacity: 0.7;
  cursor: pointer;
}

.news-scroll-btn {
  cursor: pointer;
  font-size: 5rem;
  user-select: none;
  padding: 0 1.5rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.news-scroll-btn:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

/* -------------
    Plan
------------- */

.plan-sec {
  margin-bottom: 3rem;
}

.plan-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  max-width: 90%;
  height: 35rem;
  margin: 0 auto;
  gap: 1.8rem;
}

.plan-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
  height: 100%;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.148);
  border-radius: 3rem;
  overflow: hidden;
}

.plan-group h2 {
  width: 100%;
  color: #fff;
  background-color: #34acb4;
  line-height: 2.5;
}

.plan-group img {
  width: 4rem;
  height: auto;
}

.plan-group ul {
  width: 90%;
  list-style: none;
  text-align: left;
}

.plan-group li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.plan-group h2,
.plan-group img,
.plan-group p,
.plan-group ul {
  margin-bottom: 2.5rem;
}

.plan-group ion-icon {
  font-size: 1.6rem;
  color: orangered;
}

/* -------------
    FAQ
------------- */

.faq-sec {
  margin-bottom: 3rem;
}

details {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.148);
  margin-bottom: 1rem;
}

summary {
  display: block;
  background: #34acb4;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  list-style: none;
  padding: 1rem 1.5rem;
}

summary::after {
  content: "＋";
  float: right;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease;
}

details[open] summary::after {
  content: "－";
  transform: rotate(180deg);
}

details p {
  /* Delete? */
  margin: 0;
  background: #fff;
  line-height: 1.6;
  color: #333;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  transition: all 0.7s ease;
}

details[open] p {
  padding: 1rem 1.5rem;
  max-height: 500px;
  opacity: 1;
}

/* -------------
    Review
------------- */

.review-sec {
  background-color: #34abb466;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.review-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 3rem;
}

.review-group {
  display: flex;
  flex-direction: center;
  position: relative;
  align-items: center;
  gap: 3rem;
  padding: 2rem 5rem;
}

.review-group::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 95%;
  height: 0.15rem;
  background: #34acb4;
}

.review-group:last-child::after {
  display: none;
}

.review-icon-group {
  margin-right: 3rem;
}

.review-icon-group img {
  width: 10rem;
  margin-bottom: 1.5rem;
  background: #34acb4;
  border-radius: 50%;
}

.review-icon-group p {
  font-size: 1.3rem;
}

/* -------------
    Access
------------- */

.access-sec {
  margin-bottom: 3rem;
}

.access-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 0 5rem;
}

.access-group {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.148);
}

.access-group h2 {
  position: relative;
  margin: 3.7rem 0 3rem 3.8rem;
  z-index: 5;
}

.access-number {
  position: absolute;
  top: -36px;
  left: -20px;
  font-size: 3rem;
  color: rgba(195, 195, 195, 0.451);
  font-weight: 700;
  z-index: 0;
}

.access-group-text p {
  line-height: 1.9;
}

.access-group-text a {
  text-decoration: none;
  color: #000;
}

.access-group-text ion-icon {
  font-size: 1.6rem;
  color: orangered;
  margin-left: 2.5rem;
  margin-right: 1rem;
}

.access-group img {
  width: 47%;
}

/* -------------
    Contact
------------- */

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 60%;
  margin: 0 auto;
  padding: 5.5rem 5rem 4.5rem 5rem;
  border-radius: 10px;
  background-color: #34acb4;
  color: #fff;
  align-items: center;
}

.form-text-area {
  width: 90%;
  height: 3.5rem;
}

.contact-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}

.contact-group-radio {
  display: flex;
  gap: 3rem;
}

.form-required::after {
  content: "＊必須";
  margin-left: 1.3rem;
  font-size: 1rem;
  color: orangered;
}

.form-text-area-message {
  width: 90%;
  height: 10rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  resize: none;
}

.cursor-select select,
.cursor-select option,
.cursor-select label {
  cursor: pointer;
}

.contact-group-radio input {
  margin-right: 1rem;
  cursor: pointer;
}
.contact-group-radio label {
  cursor: pointer;
}

.contact-btn {
  width: 10rem;
  height: 3.5rem;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 1rem;
}

input,
textarea,
select {
  border: none;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.148);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 0.2rem solid orangered;
}

label,
.contact-group p {
  margin-left: 0.5rem;
  font-weight: 700;
}

.contact-group-radio label {
  margin-left: 1rem;
  font-weight: normal;
}

.contact-btn {
  position: relative;
  overflow: hidden;
  width: 14rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.8rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.148);
}

.contact-btn:hover {
  color: #fff;
}
.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: orangered;
  transition: width 0.3s ease;
  z-index: 0;
}

.contact-btn:hover::before {
  width: 100%;
}
.contact-btn span {
  position: relative;
  z-index: 1;
}

/* -------------
      SNS
------------- */

.sns-container {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
  margin-bottom: 2rem;
  gap: 1.8rem;
  overflow: visible;
}

.sns-icon {
  display: inline-block;
  position: relative;
  font-size: 4rem;
  cursor: pointer;
}

.sns-icon ion-icon {
  transition: all 0.3s ease;
  color: #000;
}

.sns-icon::before {
  content: attr(data-label);
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  color: #000;
}

.sns-icon:hover ion-icon,
.sns-icon:hover::before {
  filter: drop-shadow(0 0 0.8rem var(--shadow-color));
  opacity: 1;
}

.sns-icon:hover ion-icon {
  transform: scale(1.3);
}

.sns-icon[data-label="Twitter"]:hover ion-icon,
.sns-icon[data-label="Twitter"]:hover::before {
  color: rgb(86, 168, 255);
}

.sns-icon[data-label="Instagram"]:hover ion-icon,
.sns-icon[data-label="Instagram"]:hover::before {
  color: rgb(255, 86, 207);
}

.sns-icon[data-label="Facebook"]:hover ion-icon,
.sns-icon[data-label="Facebook"]:hover::before {
  color: rgb(86, 100, 255);
}

.sns-icon[data-label="YouTube"]:hover ion-icon,
.sns-icon[data-label="YouTube"]:hover::before {
  color: rgb(255, 86, 86);
}

/* -------------
    Footer
------------- */

footer {
  padding: 1.5rem 0;
  font-size: 1.4rem;
  text-align: center;
}


